* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#main {
  min-width: 100vw;
  /* min-height: 100vh; */
  background-color: #F9F9F0;
}

#register, #login {
  position: absolute;
  width: 25vw;
  height: 60vh;
  background-color: #F9F9F0;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.190) 0px 60px 120px 0px;
  transform: translate(-50%, -50%);
}

#register {
  top: 50vh;
  left: 35vw;
}

#login {
  top: 50vh;
  left: 65vw;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 60px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 60%;
  height: 10%;
  border-radius: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: #00000016;
  color: rgb(0, 0, 0);
}

#button, #lbutton {
  background-color: #4d4d4d;
  color: white;
  padding: 10px 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 50px;
  background-color: #6eb554;
}

/* Media Query for Column Layout */

@media (max-width: 600px) {
  html, body {
    min-width: 100%;
    min-height: 100%;
  }

  #main {
    min-width: 100vw;
    background-color: #F9F9F0;
  }
  #register, #login {
    height: 50vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
  }
  #register{
    /* margin-top: 30px; */
    top: 20vh;
  }
  #login{
      top: 105vh;
    
  }
}
