*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#home{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
}
#nav{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 60px;
    background-color: rgb(37, 37, 36);
}
#nav #left{
    padding-left: 50px;
    display: flex;
    align-items: center;
    width: 30vw;
    height: inherit;
    /* background-color: aliceblue; */
}
#nav #left p{
    color: white;
    font-family: gilroy;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
#nav #left p span{
    color: yellow;
}
#nav #right{
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: inherit;
    /* background-color: aliceblue; */
    text-transform: capitalize;
}
#nav #right p{
    color: #F9F9F0;
    font-weight: 400;
    font-family: gilroy;
    font-size: 18px;
}
#nav #right .islog{
    width: 70px;
    height: 25px;
    background-color: rgb(207, 160, 22);
    color: #F9F9F0;
    border: none;
    border-radius: 5px;
    font-family: gilroy;
    font-weight: 700;
    cursor: pointer;
}
#cart{
    text-decoration: none;
    color: #F9F9F0;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: gilroy;
    font-size: 18px;
}
#cp{
    /* margin-top: 10px; */
    width: 20px;
    margin-left: 5px;
}
#menu{
    right: -49vw;
    position: absolute;
    top: 0;
    width: 49vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.419);
    backdrop-filter: blur(10px); /* Apply background blur */
    border-radius: 10px;
    display: none; 
    z-index: 999; 
}
#cb{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f9f9f03a;
    font-size: 18px;
    border-radius: 50px;
    color: white;
}
#icon{
    display: none;
    color: white;
}
#header{
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: white;
    display: flex;
    border-radius: 5px;
}
.men{
    height: 40px;
    background-color: #0000002a;
    margin-top: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.men i{
    font-size: 18px;
}
#base{
    position: absolute;
    bottom: 3%;
    right: 7%;

}
.titleText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    /* margin-top: 20px; */
    overflow: hidden;
    background-color: red;
    color: rgb(255, 255, 255);
    height: 40px;
}
.titleText h2{
    white-space: nowrap;
    animation: slideLeft 5s linear infinite; /* Adjust the animation duration as needed */
    margin: 0;
    padding: 0 20px;
}
@keyframes slideLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%); /* Slide to the left */
    }
  }

@media (max-width:600px){
    #nav #left{
        width: 50vw;
        padding-left: 10px;
    }
    #nav #right{
        padding-left: 60px;
        width: 50vw;
    }
    #i{
        margin-top: 5px;
        font-size: 20px;
    }
    .titleText{
        height: 40px;
    }
    .titleText h2{
        font-size: 1rem;
    }
    #nav #right .islog{
        background-color: rgb(0, 0, 0);
        width: 42vw;
    }
}
