  .products {
    /* overflow-x: hidden; */
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 0 120px;
    margin-bottom: 50px;
  }
  .img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 260px;
    background-color: #FAE0E4;
    border-radius: 5px;
  }
  .product {
    /* background-color: #FAE0E4; */
    border-radius: 5px;
    width: 230px;
    height: 350px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(68, 145, 213); */
  }
  
  .product img {
    width: 170px;
  }
  
  .product .description {
    margin-top: 10px;
    font-family: gilroy;
    font-weight: 600;
    width: inherit;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .des{
    margin-top: 5px;
    font-size: 10px;
    margin-left: -145px;
    font-weight: 600;
  }
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    margin-top: 15px;
    margin-left: -119px;
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 80px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  @media (max-width:600px){
    /* .titleText{
      margin-top: 10px;
      margin-bottom: 10px;
    } */
    .products {
      grid-template-columns: 1fr 1fr; /* Display 2 products per row */
      padding: 0;
    }
    .product{
      border-radius: 0;
      width: 49vw;
      border: 1px solid rgba(0, 0, 0, 0.135);
      margin-top: 5px;
    }
    .img{
      width: 49vw;
      border-radius: 0;
      background-color: #CFCFCB;
      box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, 0.153);
    }
    .product .description{
      justify-content: space-around;
      font-size: 14px;
    }
    .des{
      margin-left: -65px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.511);
    }
    .addToCartBttn{
      margin-left: -60px;
      border: 1.5px solid rgb(19, 19, 19);
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }